<% content_for :body do %>
  <form name="login_form">
    <div class="login_form_top">
      <h1>SERVICE</h1>
        <ul>
          <li><a href="service/use_script">scriptに挿入</a></li>
          <li><a href="articles">Articles</a></li>
        </ul>
    </div>
  </form>
  
  <%= stylesheet_link_tag "about" %>
<% end %>