<body>
    <script type="module" src="/packs/alert.js"></script>

    <script type="module">
    import { showAlert } from "/packs/alert.js";

    window.onload = function () {
    alert("scriptにjavascriptを挿入");
    };
    </script>
</body>