body {
    background-color: #808080;
  }
  
  form {
    width: 400px;
    padding: 40px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    text-align: center;
  }
  
  form h1,form p {
    color: green;
    font-weight: 500;
  }
  
  form p {
    font-size: 16px;
  }
  