<!DOCTYPE html>
<header>
    <h1>
        <a href="/">Chokk App</a>
    </h1>
    <nav class="pc-nav">
        <ul>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SERVICE</a></li>
            <li><a href="#">COMPANY</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </nav>
</header>

<%= stylesheet_link_tag "header_styles" %>
